.formIcon {
    position: absolute;
    top: 50%;
    right:0;
    transform: translate(-50%, -50%);
    height:35px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.devicesName{
    width: 150px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
